.products-container {
    width: auto;
    min-height: 100vh;
    padding: 4rem calc((100vw - 1300px) /4);
    background: black;
    color: white;
}

.products-container h1 {
    font-size: clamp(2.2rem, 3vw, 4.3rem);
    text-align: center;
    margin-bottom: 2.2rem;
    letter-spacing: 1px;
}

.products-container h1:nth-of-type(2) {
    border-top: 7px solid yellow;
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    transition: .375s linear;
}

.products-container h1:nth-of-type(2):hover {
    border-top: 7px solid red;
}

.products-space {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    margin: 0 2rem;
    line-height: 2;
    width: 310px;
    user-select: none;
}

.product-card img {
    height: 310px;
    min-width: 310px;
    max-width: 100%;
    box-shadow: 8px 8px #fdc500;
    object-fit: cover;
    transition: .35s ease-out;
}

.product-card img:hover {
    box-shadow: 8px 8px red;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem 5rem;
    text-align: center;
}

.product-name {
    font-weight: normal;
    font-size: 26px;
    color: white;
    letter-spacing: 0.8px;
}

.product-name-drinks {
    font-size: 30px;
    color: white;
    letter-spacing: 1.2px;
}

.product-description {
    margin-bottom: 1rem;
    min-height: 5vw;
}

.product-card:nth-of-type(2) .product-description {
    font-size: 16.5px;
    letter-spacing: 0.3px;
}

.product-price {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.product-info button {
    font-size: 1.25rem;
    padding: 0.75rem 2.8rem;
    color: white;
    background: red;
    transition: .3s ease-in-out;
    outline: none;
    border: none;
}

.product-info button:hover {
    background: #ffc500;
    cursor: pointer;
    color: black;
}